# Estruturas de Repetição

# Texto da Aula

## Percorrendo coleções
O for é um tipo especial de loop feito para percorrer elementos de uma coleção. Acima vimos exemplos usando um while e um contador para percorrer uma lista. O for elimina a necessidade de inicializarmos um contador, incrementarmos e verificar a condição de parada. Sintaxe:

In [ ]:
for (variável temporária) in (lista):
    # instruções...
    # ...

O for se repete uma vez para cada elemento da lista. A cada repetição, a variável temporária assume o valor de um elemento da lista, na ordem da lista.

In [4]:
fib = [1, 1, 2, 3, 5, 8, 13]
for elemento in fib:
    print(elemento)

1
1
2
3
5
8
13

## Percorrendo sequências numéricas
O for pode ser usado, junto com a função range(), para gerar sequências numéricas e contagens. Existem 3 meios de usar o range(): especificando 1, 2 ou 3 parâmetros.

In [ ]:
# Com 1 parâmetro, ele será interpretado como valor final (exclusivo).
# O valor inicial será 0 e o incremento será 1.

for numero in range(10):
    print(numero)
    # este exemplo imprime os números de 0 a 9, de um em um

# Com 2 parâmetros, o primeiro será o valor inicial (inclusivo) e o
# segundo será o final (exclusivo).
# O incremento continuará sendo 1.

for numero in range(1,11):
    print(numero)
    # este exemplo imprime os números de 1 a 10, de um em um

# Com 3 parâmetros, o terceiro será interpretado como incremento.
for numero in range(1,20,2):
    print(numero)
    # este exemplo imprime os ímpares positivos menores do que 20
    # ele começa valendo 1 e salta de 2 em 2 até atingir ou passar 20

# O incremento pode ser também um decremento (incremento negativo).
for numero in range (10,0,-1):
    print(numero)
    #Imprimindo os números de 1 a 10 em ordem decrescente

## For Loop

Aplicações:
- Objeto iterável que se precisa navegar pelos elementos
- Squência de tarefas que deve ser executada um número predeterminado de vezes

In [2]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']
for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

In [3]:
contador = 0
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris', 'Roma']
while contador < len(nomes_cidades):
    print(nomes_cidades[contador])
    contador = contador +1

São Paulo
Londres
Tóquio
Paris
Roma

In [5]:
nomes_cidades = 'São Paulo', 'Londres', 'Tóquio', 'Paris'
for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

### For loop tambem pode ser usado em dicionários

In [8]:
cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'populacao_milhoes': 12.2
}
for chave in cidade:
    print(f'{chave}: {cidade[chave]}')

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [10]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']
for nome in nomes_cidades:
    nome = 'Rio de Janeiro'
print(nomes_cidades)

['São Paulo', 'Londres', 'Tóquio', 'Paris']

O valor 'Rio de Janeiro' não foi atribuido a variavel 'nome' pois esta se trata de uma cópia utilizada como representativa dos elementos.

### Função range

In [12]:
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Rio de Janeiro'
print(nomes_cidades)

['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

In [17]:
print(list(range(10)))
print(list(range(2,10)))
print(list(range(2,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]